*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container{
	background-color: maroon;
	color: black;
	font-family: arial;
	margin-top : 50px;
	
}
.header{
	width:100%;
	height: 100px;
	margin-top : 20px;

}


.logo{
	width:13%;
	height:100px;	
	}

#logo{
	width:70px;
	border-radius:14px;
	padding-top: 20px;

}

.nav{
	display:block;
	width:70%;
	height:100px;
	text-align: right;
	padding-top:30px;
	margin:auto;
}

.nav-icon{
	display:none;
}

#menu{
	width:60px;
}

.btn{
	display:inline;
	background-color: black;
	color: white;
	width: 100px;
	height: 40px;
	font-size: 13px;
	font-weight: bold;
	margin:auto;
}


.intro{
	text-align: left;
	font-size: 16px;
	color:white;
	width:60%;
	margin: auto;
}

.ftr{
	width:100%;
	height:100px;
}

.ftr-txt{
	color:white;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	margin-top:20px;	
}


/*tab*/
@media only screen and (max-width:786px) and (min-width:586px){
	.nav-icon{
		display:block;		
	}

	#menu{
		position: fixed;
		top: 70px;
		right:40px;
		width: 45px;
		margin:20px;		
	}

	.nav{
		display:none;
	}

	.header{
		/*background: white;*/
		color: maroon;
		height: 100px;

	}

	.btn{
		display:block;
		margin:auto;
	}

}

	/*mobile*/
@media only screen and (max-width: 586px){
	.nav-icon{
			display:block;
		}

	#menu{
	position: fixed;
	top: 70px;
	right:40px;
	width: 45px;
		
	}

	.nav{
		display:none;
	}

	.header{
		background: : white;
		color: maroon;
	}

	.btn{
		display:block;
		margin:auto;
	}

}